.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    width: 100dvw;
    gap: 3.5rem;
    color: var(--text-default);
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    vertical-align: middle;
}
