.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    z-index: 1;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    text-align: center;
}

.organizationImage {
    display: flex;
    justify-content: center;
    width: 374px;
    height: 65px;
    align-items: center;
    background: #646167;
    border-radius: 1rem;
    overflow: hidden;
}

.organizationImageSource {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 56px;
    gap: 8px;
    border-radius: 100px;
    padding: 16px 24px;
    color: var(--text-color-main);
    background: var(--color-brand);

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;

    & path {
        fill: var(--text-color-main);
    }
}

.download:hover {
    background: #41b2e1;
}

.download:active {
    background: #2f82a4;
}

