.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    z-index: 1;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    text-align: center;
}

.qrContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.25rem;
}

.input {
    height: 56px;
    top: 192px;
    gap: 8px;
    border-radius: 8px;
    border-width: 1px;
    border-color: #E1E1E1;
    color: var(--color-brand);
    background: transparent;
    min-width: 340px;
    padding: 0 1.25rem;
}

.input:focus {
    outline: none;
}


.input::placeholder {
    color: #7D7D7D;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 56px;
    gap: 8px;
    border-radius: 100px;
    padding: 16px 24px;
    color: var(--text-color-main);
    background: var(--color-brand);

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;

    & path {
        fill: var(--text-color-main);
    }
}

.download:hover {
    background: #41b2e1;
}

.download:active {
    background: #2f82a4;
}

.qrWrapper {
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: -1;
}